.about-us-name {
  font-size: 28px;
  margin-top: 40px;
  padding: 10px;
  text-align: center;
}
.about {
  padding: 0%;
  margin: 0%;
}

.about-us-body {
  margin: 0%;
  padding: 0%;
  background-color: #e7ffed;
}
.our-mission-text {
  padding-left: 10px;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.vision-img {
  height: 20px;
  width: 20px;
  color: #68a678;
}

.mission-img {
  height: 20px;
  width: 20px;
  color: #68a678;
}

.our {
  line-height: 30px;
}

.our-vision-text {
  padding-left: 10px;
  align-items: center;
  text-align: center;
  font-weight: bold;
}
.ourvision {
  margin-top: 10px;
  border-radius: 10px;
  padding: 20px;
  border: 3px solid #68a678;
}

.ourmission {
  border-radius: 10px;
  margin-top: 10px;
  padding: 20px;

  border: 3px solid #68a678;
}

.meet {
  margin-top: 40px;
  font-size: 20px;
  text-align: center;
}

.poly1 {
  border: 2px solid #007471;
  border-radius: 24px;
  width: 150px;
  height: 150px;
}

.poly2 {
  border: 2px solid #007471;
  border-radius: 24px;
  width: 150px;
  height: 150px;
}

.poly3 {
  border: 2px solid #007471;
  border-radius: 24px;

  width: 150px;
  height: 150px;
}

.polygon {
  padding: 10px;
  margin-top: 30px;
  width: 100%;
}
